* {
    box-sizing: border-box;
    user-select: none;
}
body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

/* Form */
.options {
    margin: 20px;
}
.options .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.options .label div {
    margin-right: 40px;
}
.options .label input {
    flex-shrink: 0;
}

/* Form elements */
.yt-checkbox {
    background-color: #ccc;
    outline: none;
    border-radius: 8px; 
    width: 36px;
    height: 14px;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
}
.yt-checkbox:after {
    content: '';
    background: #909090;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -3px;
    left: 0;
    transition: 0.3s;
}
.yt-checkbox:checked:after {
    background: #c00;
    left: 20px;
}
.yt-submit {
    background: #c00;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 16px;
    margin: 0 0 0 auto;
    display: flex;
    cursor: pointer;
    -webkit-appearance: none;
}